# ignore log files
**/logs
*.log

# ignore numerical data files
**/data
*.dat

# ignore app file
**/Reacher_app
**/Crawler_app
**/Crawler_Linux
**/Reacher_Linux
**/Reacher_Linux_20

# ignore python cache files
**/__pycache__
**/.ipynb_checkpoints

# ignore .idea
**/.idea